title {
    padding: 10px;
    color: #464646;
}
body {
    background:rgb(21, 24, 23);
}
table {
    width: 100%;
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}