<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" /> 
    </head>
    <body>
        <form action="#" method="post">
            <input type="radio" id="Upload" name="input" value="Upload">
            <label for="Upload">Upload</label><br>
            <input type="radio" id="Camera" name="input" value="Camera">
            <label for="Camera">Camera</label><br>
            <p><input type='submit' value='submit'/></p>
        </form>
    </body>
</html>