<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" /> 
</head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col">
      
            <h1>Upload an audio</h1>
            <hr>
      
            <form action="/input/audio/upload-audio" method="POST" enctype="multipart/form-data">
      
              <div class="form-group">
                <label>Select Audio File</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="audio" id="audio">
                  <label class="custom-file-label" for="audio">Select audio...</label>
                </div>
              </div>
      
              <button type="submit" class="btn btn-primary">Upload</button>
      
            </form>
      
          </div>
        </div>
      </div>
    </body>
</html>

</html>